.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
    width: 100wh;
}

.container{
    border-color: black solid;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-box{
    background-color:hsl(234, 85%, 45%);
    width: 50%; 
    height: 150% ;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 20px; */
    border-radius: 15px;
    
}

.text{
    color: lavender;
    font-style: normal;
    font-size: 20px;
    font-family: sans-serif;

}

.great{
    font-size: 22px;
    font-family: sans-serif;
}

.pra{
    color: lavender;
    font-family: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* justify-content: space-between; */
}

.number{
    color: white;
    font-size:35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.circle{
    background-color:rgb(45, 45, 122) ;
    border-radius:70% ;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 115px;
    /* padding-top: 12px; */
    /* padding-bottom:12px ; */
    

}

.second-box{
    background-color: aliceblue;
    width: 50%;
    height: 150%;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    border-color: black solid;
}

.summa{
    color:rgb(2, 2, 36) ;
    font-size:20xxpx;
    margin-top:20px;
    display: flex;
    justify-content: flex-start;
    
    /* display: flex; */
    /* justify-content: center; */
}

.reaction{
    color: rgb(238, 70, 70);
    background-color: rgb(241, 227, 230);
    width: 250px;
    height: 40px;
    border-radius: 7px;
    font-size:large;
    
}

.memory{
    color: rgb(163, 163, 4);
    background-color:rgb(247, 247, 193) ;
    width: 250px;
    height: 40PX;
    border-radius: 7px;
}

.verbal{
    color: rgb(11, 168, 11);
    background-color: rgb(176, 209, 176);
    width: 250px;
    height: 40px;
    border-radius: 7px;
}

.visual{
    color: rgb(23, 2, 44);
    background-color: rgb(180, 180, 238);
    width: 250px;
    height:40px;
    border-radius: 7px;
}

.button{
    color: aliceblue;
    width: 240px;
    height: 50px;
    background-color:rgb(2, 2, 37);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom:10px;
}

.figure{
    color:rgb(2, 2, 36) ;
}

.per{
    color: grey;
}

.pic{
    padding-top: 6px;
}

.pi{
    width: 100%;
}